{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="profile-container text-center">
    <h1>My Profile</h1>
    <hr>
    <div class="profile-details mb-4">
        <p>ID: {{ user.username }}</p>
        <p>NICKNAME: {{ user.nickname }}</p>
        <p>EMAIL: {{ user.email }}</p>
        <p>LOCATION: {{ user.location }}</p>
        <p>CREATED AT: {{ user.create_at }}</p>
        <p>MODIFIED AT: {{ user.modified_at }}</p>
    </div>

    <div class="d-flex justify-content-center mt-4 gap-3">
        <a href="{% url 'users:update' user.id %}" class="w-45">
            <button type="button" class="btn btn-info">회원정보 수정</button>
        </a>
    
        <form action="{% url 'users:delete' user.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">회원탈퇴</button>
        </form>
    </div>
    
</div>

{% endblock content %}

