<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
      
        <title>
          Sparta Market
        </title>
        
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/createform.css' %}">
        {% block header %}{% endblock header %}
      </head>
<body>

    <div>
        <header class="header_section">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="index.html">
                <span>
                    Sparta Market
                </span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""></span>
              </button>
      
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url "index" %}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url "products:products" %}">
                      Shop
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:users' %}">
                      FOLLOWING
                    </a>
                  </li>
                  {% if request.COOKIES.access %}
                      {% with request.COOKIES.access as access_token %}
                        {% if access_token %}
                          {% comment %} JWT 토큰이 존재하면 인증된 상태로 간주 {% endcomment %}
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:profile' user_id %}">
                              MY PAGE
                            </a>
                          </li>
                        {% endif %}
                      {% endwith %}
                  {% endif %}

                  
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                  </li>
                </ul>
                <div class="user_option">
                  
                  {% if request.COOKIES.access %}
                  {% with request.COOKIES.access as access_token %}
                    {% if access_token %}
                      <li class="nav-item">
                        <form id="logout-form" action="{% url 'users:login' %}" method="POST" style="display: none;">
                          {% csrf_token %}
                        </form>
                
                        <button class="btn btn-link text-dark" onclick="logout();">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <span>Logout</span>
                        </button>
                      </li>
                
                      <script>
                        function logout() {
                          // fetch API로 DELETE 요청 보내기
                          fetch("{% url 'users:login' %}", {
                            method: "DELETE",
                            headers: {
                              "X-CSRFToken": document.querySelector('[name="csrfmiddlewaretoken"]').value
                            }
                          })
                          .then(response => {
                            if (response.ok) {
                              window.location.href = "{% url 'users:login' %}";  // 로그아웃 후 리디렉션
                            } else {
                              alert("로그아웃 실패");
                            }
                          })
                          .catch(error => {
                            console.error("Error:", error);
                            alert("로그아웃 중 오류가 발생했습니다.");
                          });
                        }
                      </script>
                    {% endif %}
                  {% endwith %}
                  
                  {% else %}

                    <a href="{% url 'users:login' %}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>
                        Login
                        </span>
                    </a>

                    <a href="{% url 'users:signup' %}">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <span>
                        Signup
                        </span>
                    </a>


                  {% endif %}
                 

                  <a href="">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                  </a>
                  <form class="form-inline ">
                    <button class="btn nav_search-btn" type="submit">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
              </div>
            </nav>
          </header>
    </div>
    <div>
    {% block content %}
        
    {% endblock content %}
    </div>


    <script src="https://kit.fontawesome.com/ba9243d03c.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>